<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>followers</h2>
      <% if @user.follower_user.exists? %>
        <%= render 'users/index',users: @user.follower_user %>
      <% else %>
       <P>ユーザーはいません</P>
      <% end %>
    </div>
  </div>
</div>