<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>followings</h2>
      <% if @user.following_user.exists? %>
        <%= render 'users/index',users: @user.following_user %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>